.ai-translator-popup{
    min-width: 300px;
    .ai-translator-header{
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--rs-border-primary);
        padding: 8px;
        .ai-translator-logo{
            display: "block";
            width: 20;
            height: 20;
            margin-right:8;
            svg{
                display: block;
            }
        }
        .ai-translator-title{
            font-size: 16px;
            font-weight: bolder;
        }
    }
    .ai-translator-form{
        padding: 8px;
        
    }
}

